.log_in_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 550px;
  text-align: center;
  border: 3px solid var(--element-color);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  width: 500px;
  margin: 84px auto;
  padding: 0 80px;
}

.log_in_header {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: var(--theme-color);
  font-size: 36px;
  margin-bottom: 50px;
}

.log_in_infos {
  width: 100%;
}

.log_in_row {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}

.log_in_icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: var(--theme-color);
}

.log_in_input {
  width: 100%;
  display: block;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  box-sizing: border-box;
  outline: none;
}

.log_in_options {
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  width: 100%;
}

.remember_me_wrapper {
  display: flex;
  align-items: center; 
}

.remember_me_checkbox {
    vertical-align: middle;
    margin-top: 0.8px; /* Adjust as needed */
    line-height: 1; /* Set line-height to 1 for better vertical alignment */
}

.remember_me_label {
  margin-left: 5px;
}

.create_account_text:hover {
  cursor: pointer;
  text-decoration: underline;
}

.log_in_button,
.log_in_button_disabled {
  margin-top: 50px;
  border: 2px solid var(--dark-pink);
  padding: 20px;
  border-radius: 5px;
  background-color: var(--dark-pink);
}

.log_in_button:hover {
  border: 2px solid var(--theme-color);
  background-color: var(--theme-color);
  color: var(--white);
  transition: 0.1s linear;
}

.log_in_button_disabled:hover {
  cursor: initial;
  opacity: 0.5;
}

.sign_in_more_options {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sign_in_more_options_btn {
  padding: 10px 0;
  width: 44%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  border: 2px solid var(--theme-color);
  border-radius: 5px;
}

.sign_in_more_options_btn:hover {
  opacity: 0.5;
}

.sign_in_more_options_icon {
  font-size: 20px;
}
